In [2]:
import numpy as np
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
df=pd.read_csv(r'C:\Users\Swarupa V\Desktop\watchnext\dataset\datasets_1474_2639_IMDB-Movie-Data.csv')

In [5]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,NaN
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,NaN
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,NaN
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,NaN
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,NaN

In [6]:
des=list(df['Description'])

stop_words = set(stopwords.words('english'))
#print(stop_words)

In [7]:
description=[]
punct=",.!:$%*a's\"\'\\'~``"
for x in des:
    x=x.lower()
    word_tokens = word_tokenize(x) 
    final = [w for w in word_tokens if not w in stop_words and not w in punct] 
    description.append(final)

In [8]:
soup=[]
genre=list(df['Genre'])
for gen,sent in zip(genre,description):
    word_tokens = word_tokenize(gen)
    word=' '.join(sent)+' '+''.join(gen)
    soup.append(word)

In [9]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(soup)

In [10]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [11]:
df = df.reset_index()
indices = pd.Series(df.index, index=df['Title'])

In [12]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['Title'].iloc[movie_indices]

In [13]:
get_recommendations('The Conjuring 2', cosine_sim)

254               The Conjuring
312                The Babadook
971                   Disturbia
61      The Autopsy of Jane Doe
72              A Monster Calls
229                     Rupture
717               The Strangers
237    The Disappointments Room
652                   Insidious
608                       Mommy
Name: Title, dtype: object