In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Swarupa V\Desktop\watchnext\dataset\datasets_1474_2639_IMDB-Movie-Data.csv')

In [3]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,NaN
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,NaN
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,NaN
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,NaN
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,NaN

In [4]:
df['Metascore'].fillna(1,inplace=True)
df.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Score
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,NaN
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,NaN
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,NaN

In [46]:
action=[]
drama=[]
thriller=[]
adventure=[]
comedy=[]
horror=[]
biography=[]
animation=[]
scifi=[]
romance=[]
others=[]

In [47]:
genres=list(df["Genre"].values)
movies=list(df["Title"])
i=0
for genre,movie in zip(genres,movies):
    lst=genre.split(',')
    for g in lst:
        if(g=="Action" or g=='War'):
            action.append(movie)
        if(g=='Drama' or g=='Musical' or g=='Family'):
            drama.append(movie)
        if(g=='Thriller' or g=='Crime' or g=='Mystery'):
            thriller.append(movie)
        if(g=='Adventure'):
            adventure.append(movie)
        if(g=='Comedy'):
            comedy.append(movie)
        if(g=='Horror'):
            horror.append(movie)
        if(g=='Biography' or g=='History'):
            biography.append(movie)
        if(g=='Animation' or g=='Fantasy'):
            animation.append(movie)
        if(g=='Sci-Fi'):
            scifi.append(movie)
        if(g=='Romance'):
            romance.append(movie)
        else:
            others.append(movie)

In [48]:
#popular for scifi
rating1=[]
for movie in scifi:
    r=int(df.loc[df['Title']==movie,'Rating'])
    m=int(df.loc[df['Title']==movie,'Metascore'])
    v=int(df.loc[df['Title']==movie,'Votes'])
    score=(r)+(m/10)
    if(r>7):
        movie_score=((20000-v)/10000)*score# for movies that have rating >7 and less number of votes, greater score is given
        rating1.append(movie_score)
    else:
        movie_score=score-(v/10000)
        rating1.append(movie_score)

In [56]:
#popular for fantasy,animation
rating6=[]
for movie in animation:
    r=int(df.loc[df['Title']==movie,'Rating'])
    m=int(df.loc[df['Title']==movie,'Metascore'])
    v=int(df.loc[df['Title']==movie,'Votes'])
    score=(r)+(m/10)
    if(r>7):
        movie_score=((20000-v)/10000)*score
        rating6.append(movie_score)
    else:
        movie_score=score-(v/10000)
        rating6.append(movie_score)

In [57]:
scifi_final=list(zip(rating1,scifi))
ani_final=list(zip(rating6,animation))

In [58]:
scifi_final.sort()
ani_final.sort()

In [59]:

print(scifi_final[-10:])

[(8.1213, 'Midnight Special'), (8.6639, 'Equals'), (8.9909, 'Stake Land'), (9.272300000000001, "2307: Winter's Dream"), (9.878, 'Into the Forest'), (10.2753, 'The Void'), (11.843599999999999, 'Viral'), (12.1298, 'Sleight'), (12.4488, 'The Bad Batch'), (13.0813, 'The Survivalist')]

In [60]:
print(ani_final[-10:])

[(9.6891, 'Rock Dog'), (10.686599999999999, 'A Monster Calls'), (11.0312, 'This Beautiful Fantastic'), (11.4435, 'Il racconto dei racconti - Tale of Tales'), (12.5609, 'The Warriors Gate'), (13.303799999999999, 'Goksung'), (14.451799999999999, 'La tortue rouge'), (14.451799999999999, 'La tortue rouge'), (15.063, 'Ma vie de Courgette'), (28.1264, 'Koe no katachi')]